.master {
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    overflow-x: auto;
    overflow-y: none;
}

.navbar-top {
    font-family: 'Heebo', sans-serif;
}

.navbar-top > .item {
    box-sizing: border-box;
    width: 100%;
    display: block;
    text-align: center;
    padding: 0.5em 0.5em;
    color: #FFF;
    cursor: pointer;
}


.presentation-title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
}

.presentation-title > .icon {
    display: block;
    background: url(../img/crown.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
    margin: auto;
    margin-top: 5%;
}

.presentation-title > .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-align: center;
    display: inline-block;
    box-sizing: content-box;
    font-weight: bolder;
    color: #FFF;
    margin: 0% 10%;
    padding: 10px 0px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.presentation-title > .title::before {
    content: 'WELCOME TO';
    padding-bottom: 10px;
    border-bottom: 2px solid #FFF;
    font-size: 20px;
    display: block;
    margin: auto;
    text-align: center;
    letter-spacing: 5px;
}

.presentation-title > .title::after {
    content: 'THE QUEEN CITY';
    padding-top: 10px;
    border-top: 2px solid #FFF;
    font-size: 20px;
    display: block;
    margin: auto;
    text-align: center;
    letter-spacing: 5px;
}

.main-box {
    background-color: #FFF;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 280px;
    margin-top: 20%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main-box > .title {
    font-family: 'Heebo', sans-serif;
    font-size: 1em;
    text-align: center;
    display: inline-block;
    box-sizing: content-box;
    font-weight: bolder;
    color: #000;
    padding: 30px 0px;
    letter-spacing: 5px;
    width: 100%;
    margin: auto;
}

.check-form {
    color: #424242;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}

::-webkit-input-placeholder {
    text-align: center;
}

.check-form > .label {
    flex: 1 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    box-sizing: content-box;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 30px 0px 10px 0px;
    letter-spacing: 5px;
    width: 100%;
    margin: auto;
}

.check-form > .input {
    flex: auto;
    border: none;
    width: 40%;
    text-align: center;
}

.check-form > .search {
    flex: 1 50%; 
    margin: 50px 30% 0% 30%;
    padding: 5% 0%;
    font-weight: bolder;
    background-color: transparent;
    border-radius: 120px;
    border: 2px solid #FFBA23;
    color: #FFBA23;
    cursor: pointer;
}

.check-form > .search:hover {
    color: #FFF; 
    background-color: #FFBA23;
    transition-duration: 500ms;
}

.message-box {
    width: 100%;
    background-color: #FFF;
}

.message-box > .message {
    font-family: 'Heebo', sans-serif;
    font-size: 1em;
    text-align: center;
    display: inline-block;
    box-sizing: content-box;
    font-weight: bolder;
    color: #000;
    padding: 30px 0px;
    letter-spacing: 5px;
    width: 100%;
    margin: auto;
}

.hotel-box {
    background-color: #FFF;
    font-family: 'Heebo', sans-serif;
    padding-bottom: 2%;
}

.hotel-box > .filter-box { /**/ }

.hotel-box > .hotel-card {
    width: 96%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.hotel-card > .front-card {
    display: flex;
    flex-direction: row;
    height: 125px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25), 0 4px 24px rgba(0,0,0,0.22);
}

.front-card > .image { 
    width: 85px;
}

.hotel-info > .star {
    display: inline-block;
    background: url(../img/star-filled.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 4px;
    height: 4px;
}

.front-card > .hotel-info {
    font-size: 12px;
    margin: 5px;
}

.hotel-info > .title {
    color: #FFBA23;
    box-sizing: content-box;
    letter-spacing: 1px;
    font-weight: bolder;
    margin-bottom: 5px;
    margin-top: 1px;
}

.hotel-info > .description {
    font-size: 10px;
    color: #616161;
    margin-bottom: 3%;
    justify-content: safe;
}

.hotel-info > .book {
    background-color: transparent;
    border-radius: 120px;
    border: 2px solid #FFBA23;
    color: #FFBA23;
    cursor: pointer;
}

.hotel-info > .book:hover {
    color: #FFF; 
    background-color: #FFBA23;
    transition-duration: 500ms;
}

.hotel-info > .shop {
    border-radius: 120px;
    border: 2px solid #78BD1A;
    background-color: transparent;
    color: #78BD1A;
    cursor: pointer;
}

.hotel-info > .shop:hover {
    color: #FFF;
    background-color: #78BD1A;
    transition-duration: 500ms;
}

.front-card > .hotel-price {
    width: 160px;
    font-size: 8px;
}

.hotel-price > .nights {
    display: block;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.hotel-price > .nights::before {
    content: 'Total ';
    color: #616161;
}

.hotel-price > .price {
    font-size: 12px;
    color: #78BD1A;
    font-weight: bolder;
    margin-bottom: 10px;
}

.hotel-price > .price::before {
    content: '$';
    color: #78BD1A;
}

.hotel-price > .pernight {
    font-size: 10px;
    font-weight: bolder;
    margin: auto;
    color: #FFBA23;
}

.hotel-price > .pernight::before {
    content: 'Per night ';
    margin-bottom: 3px;
    font-size: 10px;
    margin: auto;
    color: #616161;
}


.footer-box {
    border-top: 1px solid #424242;
    padding-top: 10px;
    font-family: 'Heebo', sans-serif;
    color: #424242;
    font-size: 7px;
    position: relative;
    height: 10%;
    background-color: #FFF;
    width: 100%;
}

.social {
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #FFF;
}

.social > .icon {
    display: inline-block;
    width: 4em;
    height: 4em;
    padding-bottom: 5px;
    cursor: pointer;
}

.social > .facebook {
    background: url(../img/facebook.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.social > .twitter {
    background: url(../img/twitter.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.social > .instagram {
    background: url(../img/instagram.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.footer-box > .copyright {
    margin: auto;
    background-color: #FFF;
    text-align: center;
}

/*Tablets*/
@media (min-width: 640px) and (max-width: 1199.98px) {
    .navbar-top > .item {
        width: auto;
        display: inline-block;
        padding: 1.25em 0.5em;
    }

    .presentation-title > .title {
        font-size: 4em;
    }    

    .main-box {
        width: 80%;
        height: 400px;
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .check-form {
        text-align: center;
        width: 80%;
        margin: auto;
    }
    
    .hotel-info > .description {
        margin-bottom: 1%;
    }

    .hotel-info > .book {
        padding-top: 5px;
        padding-bottom: 5px;        
    }
    
    .hotel-info > .shop {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .hotel-info > .star {
        width: 10px;
        height: 10px;
    }
    
    .footer-box {
        font-size: 8px;
        height: 100px;
    }
}


/*Notebooks and Plus*/
@media (min-width: 1200px) {
    .navbar-top > .item {
        width: auto;
        display: inline-block;
        padding: 1.25em 0.5em;
        margin-left: 2.5%;
    }    
    
    .presentation-title > .title {
        font-size: 5em;
    }

    .main-box {
        width: 70%;
        height: 350px;
        margin-top: 5%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .main-box > .title {
        font-size: 1.5em;
        margin-top: 5%;
    }

    .check-form > .search {
        margin: 50px 40% 0% 40%;
        padding: 2% 0%;
    }

    .hotel-box > .hotel-card {
        width: 70%;
    }
    
    .hotel-card > .front-card {
        height: 200px;
    }
    
    .front-card > .image{ 
        width: 180px;
    }

    .hotel-info > .star {
        width: 15px;
        height: 15px;
    }

    .front-card > .hotel-info {
        width: 95%;
        margin-right: 50px;
    }
    
    .hotel-info > .title {
        font-size: 28px;
        margin-bottom: 20px;
        margin-top: 5px;
    }
    
    .hotel-info > .description {
        font-size: 16px;
        margin-bottom: 2%;
    }
    
    .hotel-info > .book {
        padding-top: 7px;
        padding-bottom: 7px; 
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 5px;
    }
    
    .hotel-info > .shop {
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .front-card > .hotel-price {
        width: 320px;
    }
    
    .hotel-price > .nights {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 35px;
    }
    
    .hotel-price > .price {
        font-size: 26px;
        margin-bottom: 10px;
    }
    
    .hotel-price > .pernight {
        font-size: 14px;
    }
    
    .footer-box {
        font-size: 12px;
        padding-bottom: 1%;
    }
}